@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.01);
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}

section::-webkit-scrollbar {
    width: 0px; 
    background-color: transparent;
}
  
section::-webkit-scrollbar-thumb {
    background-color: transparent; 
}