@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 12px;
    background: linear-gradient(to bottom, #1b1b1b, #0c0c0c); /* Defina a cor de fundo desejada */
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.01);
}
::-webkit-scrollbar-thumb {
    background: #555; 
}
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}